/* Styles généraux */
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* Conteneur principal de la carte */
#map { 
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* Styles pour les éléments de l'interface utilisateur */
.container_slider, #resume {
  position: absolute;
  z-index: 10000;
  color: white;
  padding: 10px;
}

/* Styles pour les infobulles */
p b a:hover {
  text-shadow: 2px 1px 5px rgb(218, 218, 218);
}

.leaflet-popup {
  opacity: 0.7;
  background-color: white;
}

.slidebar-link {
  color: #4682b4; 
  cursor: pointer; /* Définir le curseur comme pointeur au survol */
}

/* Styles pour les boutons */
input[type="submit"], 
button {
  border: none;
  border-radius: 0;
  background-color: gainsboro;
  color: white;
  font-size: 14px;
  padding: 8px 12px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: auto;
}

input:hover,
button:hover {
  background-color: #373737;
}

/* Effets de zoom */
.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px white;
}

/* Styles pour la slidebar */
.slidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
}

.slidebar-content {
  padding: 20px;
}

.slidebar-header {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ced4da;
}

.slidebar-body {
  margin-top: 10px;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1em;
  cursor: pointer;
  color: #343a40;
}

/* Styles pour le carrousel */
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Styles pour les boutons de navigation du carrousel */
.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px; /* Taille des flèches */
    color: #4682b4; /* Couleur des flèches */
    background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 1; /* Assurer que les flèches sont au-dessus du contenu */
}

.carousel-prev {
    left: 10px; /* Position à gauche */
}

.carousel-next {
    right: 10px; /* Position à droite */
}

/* Ajustement du contenu des diapositives pour éviter le chevauchement */
.slide {
    padding-right: 40px; /* Espace à droite pour éviter les flèches */
}

/* Styles pour le contenu du carrousel */
.carousel-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
  position: relative;
}

/* Style pour le contrôle de filtre par année */
.year-filter-control {
  background-color: white;
  opacity: 0.7;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.year-filter-control h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
}

/* Style pour les boutons de la jauge d'année */
.year-decrease-btn,
.year-increase-btn {
    border: none;
    border-radius: 50%; /* Rendre les boutons circulaires */
    color: white;
    font-size: 18px; /* Taille de police */
    width: 25px; /* Largeur fixe */
    height: 25px; /* Hauteur fixe */
    line-height: 25px; /* Centrage vertical du texte */
    text-align: center; /* Centrage horizontal du texte */
    cursor: pointer;
    margin: 0 5px; /* Marge entre les boutons */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre légère */
    display: inline-flex; /* Utilisation de flexbox pour le centrage */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
}

/* Style pour l'année sélectionnée dans le contrôle de filtre par année */
.selected-year-label {
  font-size: 16px; /* Taille de police augmentée */
  font-weight: bold; /* Optionnel : pour mettre en gras */
  color: #000; /* Couleur du texte */
}


/* Style pour le contrôle de sélection */
.type-filter-control {
  background-color: white;
  opacity: 0.7;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.type-filter-control h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
}

.type-filter-control select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

/* Styles pour les infobulles des curseurs */
.leaflet-tooltip {
  opacity: 0.7; /* Opacité de l'infobulle du curseur */
  background-color: rgba(255, 255, 255, 0.9); /* Couleur de fond de l'infobulle */
  color: #333; /* Couleur du texte de l'infobulle */
  border: none; /* Supprimer la bordure de l'infobulle */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); /* Ombre légère pour l'infobulle */
  font-size: 14px; /* Taille de police de l'infobulle */
  line-height: 1.4; /* Hauteur de ligne de l'infobulle */
  padding: 8px 12px; /* Espacement intérieur de l'infobulle */
}
